
<% layout("layouts/boilerplate")%>




<head>
  <!-- Add Font Awesome CDN for icons -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<div class="settings-body">

<%- include("../../partials/settings/settings-sidebar") %> 

  <div class="main">
    <!-- Add Expense Category -->
    <div class="header">
          <h2 class="text">Add Expense Category</h2>
      </div>
      <!-- add expense form -->
      <div class="expenses-form-container">
        <form action="/expenses/settings/addtype" method="POST">
            <div class="form-row">
                <input name="typeName" id="typeName" type="text" placeholder="New Expense Category">
                <button type="submit">Add Category</button>
            </div>
        </form>
      </div>


      <table class="expenses-table">
        <thead>
            <tr>

                <th scope="col">Number</th>
                <th scope="col">Type Name</th>
                <th scope="col">
                <form action="/expensesSettings/delete-all-expense-types" method="POST">
                  <button class="btn delete">Delete all Categories</button>
                </form>
            </th>

            </tr>
        </thead>
        <tbody>
          <% let idx = 1 %>
          <tr>
            <td scope="row"><%=idx++%></th>
            <td>GROCERY</td>
            <td>Default Type</td>
          </tr>
          <tr>
            <td scope="row"><%=idx++%></th>
            <td>GAS</td>
            <td>Default Type</td>
          </tr>
          <tr>
            <td scope="row"><%=idx++%></th>
            <td>RENT</td>
            <td>Default Type</td>

          </tr>

          <% for(let expenseType of expenseTypes){ %>
            <tr>
              <td scope="row"><%=idx++%></th>
              <td><%=expenseType.type%></td>
              <td>
                <form action="/expensesSettings/delete-expense-type/<%=expenseType._id %>" method="POST">
                  <button class="btn delete">Delete</button>
                </form>
              </td>
            </tr>
          <%} %>

        </tbody>
    </table>
  </div>

</div>


    