<% layout("layouts/boilerplate")%>


<h2>Add a new Expense</h2>
<form class="inlineForm" action="/expenses/add" method="POST">

  <label for="name">Name</label>
  <input name="name" id="name" type="text">

  <label for="type">Type</label>
  <!-- <input id="type" name="type" type="text"> -->
  <select name="type" id="type">
    <!-- default expense types -->
    <option value="GROCERY">GROCERY</option>
    <option value="GAS">GAS</option>
    <option value="RENT">RENT</option>
    <!-- user-defined expense types -->
    <% for(const expenseType of expenseTypes){%>
      <option value="<%=expenseType.type%>"><%=expenseType.type%></option>
    <% } %>


  </select>

  <label for="cost">Cost ($)</label>
  <input name="cost" id="cost" type="number"  min="0" value="0" step="any">

  <label for="date">Date</label>
  <input name="date" id="date" type="date">

  <button type="submit" class="btn btn-primary mb-2">Add Expense</button>

</form>






  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Cost ($)</th>
        <th scope="col">
          <form action="/expenses/save-expenses" method="POST">
            <button class="btn btn-success">Save Expenses</button>
          </form>
        </th>
        <th scope="col">
          <form action="/expenses/import-monthly-expenses" method="POST">
            <button class="btn btn-info">Import Monthly Expenses</button>
          </form>
        </th>
        
      </tr>
    </thead>
    <tbody>
        <% let idx = 1 %>
        <% for(let unsaved_expense of unsaved_expenses){ %>
            <tr>
                <th scope="row"><%=idx%></th>
                <td><%=unsaved_expense.name %></td>
                <td><%=unsaved_expense.type%></td>
                <td><%=unsaved_expense.date.getMonth()+1%>-<%=unsaved_expense.date.getDate()%>-<%=unsaved_expense.date.getFullYear()%></td>
                <td><%=unsaved_expense.cost%></td>
                <td> 
                  <form action="/expenses/deleteExpense/<%=unsaved_expense._id%>" method="POST">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                </td>
            </tr>
            <% idx++ %>
        <% } %>
    </tbody>
  </table>



  <h2>This Month's Report</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Expense Type</th>
        <th scope="col">Total Spending</th>
        <th scope="col">Percentage</th>
      </tr>
    </thead>
    <tbody>
        <% idx = 1 %>
        <% for(let reportEle of report){ %>
            <tr>
                <th scope="row"><%=idx%></th>
                <td><%=reportEle.type %></td>
                <td><%=reportEle.total%></td>
                <td><%=reportEle.percentage%>%</td>
            </tr>
            <% idx++ %>
        <% } %>
        <th scope="row">/</th>
        <td>Total Spending</td>
        <td><%=totalCosts%></td>
        <td>100%</td>

    </tbody>
  </table>


<!-- show report based on month and year -->
<h2>Show a Month Report</h2>
<form action="/expenses/show-month-report" method="POST">
  <input name="date" type="month">
  <button>Show Report</button>
</form>

<% if(typeof reported_expenses !== 'undefined') {%>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Number</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Cost ($)</th>
          <th scope="col">Percentage</th>
        </tr>
      </thead>
      <tbody>
          <%idx = 1 %>
          <% totalCosts = 0 %>
          
          <!-- find the totalCosts -->
          <% for(let expense of reported_expenses){ %>
              <% totalCosts+=Number(expense.cost) %>
          <% } %>
          
          <% for(let expense of reported_expenses){ %>
            <%expense.date = new Date(expense.date);%>
              <tr>
                  <th scope="row"><%=idx%></th>
                  <td><%=expense.type%></td>
                  <td><%=expense.date.getMonth()+1%>-<%=expense.date.getFullYear()%></td>
                  <td><%=expense.cost.toFixed(2)%></td>
                  <td> <%=((expense.cost*100)/totalCosts).toFixed(2)%>%</td>
              </tr>
              <% idx++ %>
          <% } %>
          <% totalCosts = totalCosts.toFixed(2) %>
        
        <tr>
          <th scope="row">/</th>
          <td>Total Spending</td>
          <td>-</td>
          <td><%=totalCosts%></td>
          <td>100%</td>
        </tr>
      
      </tbody>
    </table>  
<%  } %>



