<% layout("layouts/boilerplate")%>

<h1>Expenses Settings page</h1>

<h3>Download Expenses as CSV file</h3>
<form action="/expensesSettings/download-expenses" method="POST">
  <button>Download</button>
</form>


<h3>Upload Expense from a CSV file</h3>
<form action="/expensesSettings/upload-expenses" method="POST" enctype="multipart/form-data">
  <input type="file" name="csv_file">
  <button>Upload</button>
</form>


<!-- ----------------------------------------------------------------------- -->
<!-- Add Expense Category -->

  <div class="header">
      <h2 class="text">Add Expense Category</h2>
  </div>
  <!-- add expense form -->
  <div class="expenses-form-container">
    <form action="/expenses/settings/addtype" method="POST">
        <div class="form-row">
            <input name="typeName" id="typeName" type="text" placeholder="New Expense Category">
            <button type="submit">Add Category</button>
        </div>
    </form>
  </div>


  <table class="expenses-table">
    <thead>
        <tr>

            <th scope="col">Number</th>
            <th scope="col">Type Name</th>
            <th scope="col">
            <form action="/expensesSettings/delete-all-expense-types" method="POST">
              <button class="btn delete">Delete all Categories</button>
            </form>
        </th>

        </tr>
    </thead>
    <tbody>
      <% let idx = 1 %>
      <tr>
        <td scope="row"><%=idx++%></th>
        <td>GROCERY</td>
        <td>Default Type</td>
      </tr>
      <tr>
        <td scope="row"><%=idx++%></th>
        <td>GAS</td>
        <td>Default Type</td>
      </tr>
      <tr>
        <td scope="row"><%=idx++%></th>
        <td>RENT</td>
        <td>Default Type</td>

      </tr>

      <% for(let expenseType of expenseTypes){ %>
        <tr>
          <td scope="row"><%=idx++%></th>
          <td><%=expenseType.type%></td>
          <td>
            <form action="/expensesSettings/delete-expense-type/<%=expenseType._id %>" method="POST">
              <button class="btn delete">Delete</button>
            </form>
          </td>
        </tr>
      <%} %>

    </tbody>
</table>


<!-- ----------------------------------------------------------------------- -->
<!-- Monthly Expense -->

  <div class="header">
      <h2 class="text">Add Monthly Expense</h2>
  </div>


  <div class="expenses-form-container">
    <form action="/expensesSettings/add-monthly-expense" method="POST">
      <div class="form-row">

        <input name="name" id="name" type="text" placeholder="Expense Name">

        <label for="type">Category</label>
        <select name="type" id="type">
          <!-- default expense types -->
          <option value="GROCERY">GROCERY</option>
          <option value="GAS">GAS</option>
          <option value="RENT">RENT</option>
          <!-- user-defined expense types -->
          <% for(const expenseType of expenseTypes){%>
            <option value="<%=expenseType.type%>"><%=expenseType.type%></option>
          <% } %>
      
        </select>
      
        <label for="cost">Cost ($)</label>
        <input name="cost" id="cost" type="number"  min="0" value="0" step="any">
      
        <button type="submit" class="btn btn-primary mb-2">Add Expense</button>
      </div>
    </form>
  </div>

  

  
  <table class="expenses-table">
    <thead>
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Date Added</th>
        <th scope="col">Cost ($)</th>
        <th scope="col">Delete Option</th>
        
      </tr>
    </thead>
    <tbody>
        <% idx = 1 %>
        <% for(let monthlyExpense of monthlyExpenses){ %>
            <tr>
                <td scope="row"><%=idx%></th>
                <td><%=monthlyExpense.name %></td>
                <td><%=monthlyExpense.type%></td>
                <td><%=monthlyExpense.date.getMonth()+1%>-<%=monthlyExpense.date.getDate()%>-<%=monthlyExpense.date.getFullYear()%></td>
                <td><%=monthlyExpense.cost%></td>
                <td> 
                  <form action="/expensesSettings/delete-monthly-expense/<%=monthlyExpense._id%>" method="POST">
                    <button class="btn delete">Delete</button>
                  </form>
                </td>
            </tr>
            <% idx++ %>
        <% } %>
    </tbody>
  </table>

